body{
    font-family :helvetica,helvetica neue,arial,sans-serif;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz-info{
    font-size: x-large;
}

input[type=radio] {
    margin-bottom: 10px;
    margin-top: 10px;
  }

.questionnaire{
    font-size: 20px;
}

.question{
    margin-bottom: 30px;
    margin-top: 30px;
    color:RGB(222,126,53);
}

.check{
    background-color: #f8aa6e;
    color: #000;
    font-family: National2;
    font-size: 20px;
    margin-left: 50%;
    opacity: 1;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    border: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
}

.close-button {
position: absolute;
top: 1px;
right: 1px;
font-size: 20px;
background-color: #f8aa6e;
border:none;
}

.check:hover{
    box-shadow: 0 0 4px RGB(222,126,53);
    outline-offset: 5px;
    outline: 1px solid RGB(0,0,0);
}

.result{
	color: brown;
}

.modal{
    height: auto;
	display: none;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8aa6e;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    font-size: 20px;
    width: auto;
}

h1{
    color:RGB(222,126,53);
    font-size: xxx-large;
}

