header{display: flex;
    background-image: url(../img/arsenal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: rgb(241 142 39);
    align-items: center;
    justify-content: center;
    font-size: 45px;
}

thead {
    border: 1px black solid;
    text-align: center;
}

.sorting{
    width:15px !important;
}
.sorting_disabled{
    width:10px !important;
}

.sorting_asc{
    width: 15px !important;
}

#sec1{
    padding-top: 20px;
    background: lightgrey;
}


.fa-jedi:hover{
    transition-duration: 0.4s;
    cursor:crosshair;
   
    
}

.fa-skull-crossbones{
    transition-duration: 0.4s;
    cursor:grab;
}

.fa-question-circle{
    transition-duration: 0.4s;
    cursor:help;
}

#sec2{
    
    
    background-image: url(../img/army.jpg);
    background-size: cover;
    height: 765px;
    padding-top: 55px;
}

/*style formulaire*/
#form{
    display: flex;
    width: 70%;
    flex-direction: column;
    color: rgb(248 203 170);
    border: double;
    border-color: #786109;
    text-align: center;
    margin: auto;
    font-size: 20px;
    background: linear-gradient(
172deg, #000000e0, #00000045);
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-shadow: 1px 1px 2px black
}

.nom_form{
    padding-top: 15px;
   
}
.type_form{
    display: flex;
    margin: auto;
    padding-top: 15px;
}

.calibre_form{
     display: flex;
     padding-top: 15px;
     margin: auto;
}

.pays_form{
    padding-top: 15px;
}

.portee_form{display: flex;
    padding-top: 20px;
    margin :auto; 
}

.nbrballes_form{
    display: flex;
    padding-top: 20px;
    margin: auto;
}

.cadence_form{
    display: flex;
    padding-top: 20px;
    margin: auto;
    
}

.date_form{display:flex;
padding-top: 20px;
margin: auto;

}

.poids_form{
    padding-top: 20px;
}

#nbrballes{
    width: 5%;
    font-weight: bold;
}

#Cadence{
    width: 12%;
    font-weight: bold;
}

#Poids{
    width: 5%;
    font-weight: bold;
}

.button{
    padding-top:30px; 
    margin-bottom: 20px;
}

#btn_ajouter{
  border: none;
  background-color: rgb(143 183 146);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#btn_ajouter:hover {
    background-color: #2e3b2e;
    color: white;
  }
  
#btn_edit{
    border: none;
    background-color: rgb(213 161 45);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#btn_edit:hover{
    background-color: #523407;
    color: floralwhite;
}



#btn_annuler{
    border: none;
    background-color: rgb(195 79 11);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#btn_annuler:hover{
    background-color: #781c0e;
    color: floralwhite;

}



/*style tableau*/ 


thead{
    background-color: darkgray;
}


td{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

tr.Blue{
    background-color: #1a41ad8f  !important;
}

tr.Orange{
    background-color: #c0711673 !important;
}

tr.Vert {
    background-color: #11c748a3 !important;
}

tr.Dore{
    background-color:#da980bef !important;
}

tr.Rouge{
    background-color: #c72712 !important;
}

tr.Jaune {
background-color: #d8ba0fec !important;
}

tr.Gris{
    background-color: #696866ad !important;
}



/*css datable*/
.dataTables_info{
    display: none;
}

.dataTables_paginate{
    display: none;
}

#modal{
    display: none;
    position: fixed;
    background-color: #b0b7b7;
    z-index: 1;
    max-width: 70%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 35%;
    border: solid #3b312c 5px;
    background-image: url(../img/pistol.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#content_mod{
    flex-direction: column;
    text-align: center;
    font-size: 17px;
    font-family: monospace;
    background: linear-gradient( 
360deg, #b0b0b04f, #4b4b4bc4);
    color: #070f0a;
    font-weight: bolder;
}


.fa-window-close{
    display: block;
   
    color: rgb(149, 5, 5);
}

.titre_mod{
    margin-left: 20px;

}

