
#info_client{
    display: none;
}

.alarme_prise{
    border: 1px solid black;
  
}

.alarme_libre{
    border: 1px solid black;

}

.font_red{
    color: red !important;
    }

.font_yellow{
color: yellow !important;
}

.font_orange{
color: orange !important;
}

.font_black{
    color: blue !important;
}

.pointer{
    cursor:pointer;
}

#main_section{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

#add_section{
    display: none;
    text-align: center;
}

#add_form{
    display: grid;
    justify-content: center;
    align-self: center;
    
}

.alarme_libre{
    display: grid;
    justify-content: center;
    align-self: center;
    margin-right: 20%;
}

.alarme_prise{
    display: grid;
    justify-content: center;
    align-self: center;
    margin-right: 20%;
}

#info_client{
    display: none;
    
}

#array_info{
    display: flex;
    align-self: end;
    position: absolute;
    margin-top: 140px;
    margin-right: 5%;
}

#btn_add{
    display: flex;
    justify-content: center;
    align-self: center;
}

#edit_section{
    display: none;
    text-align: center;
}

#edit_form{
    display: grid;
    justify-content: center;
    align-self: center;
}

#h3{
    text-align: center;
}