/*--------------------------------------------------------------------------------------*/
/*                                  © Devcodeone                                        */
/* Ce fichier ne doit contenir que les attributs concernant les polices et les couleurs */
/*--------------------------------------------------------------------------------------*/

/*header*/
.btn-outline-warning{
    border-color: aliceblue;
    color: #d97878;
    }
    
.btn-outline-warning:hover{
      background-color: rgba(163, 93, 93, 0.829);
      border-color: beige;
    }


/*section 1*/
h1 {
    letter-spacing: 8px;
    color:  #d97878;
}

.text1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px ;
}
/*section2*/
.bloctxt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px
}



/*section 3 */

.star {color: crimson;
}

.bordertxt{
  border-bottom: 2px solid crimson;
}
  
.txtcritics{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*footer */
.whiteborder{
    color:white;
  }

.social{
    color: rgb(12, 77, 161);
}  
      