/*--------------------------------------------------------------------------------------*/
/*                                  © Devcodeone                                        */
/* Ce fichier ne doit contenir que les attributs concernant les overrides bootstrap :    */
/*                  positionnement, taille ...                                         */
/*--------------------------------------------------------------------------------------*/


/*nav*/

.devcode2
{
  height:40px;
}
.navbar-brand{
  color: rgb(30, 43, 43);
  font-size: 40px;
}

.nav-item{
  font-size: 25px;
}

/*header*/
header{
  margin-top: 1px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  width: 80px;
}

/*section 1*/


  

/* section 2 */

.wodlist{
  list-style: none;
}
.wod{
  margin-left: 30px;
}


/*section 3 */
.bordertxt{
  display: inline-block;
  padding-bottom: 20px;
}

.critics {
  padding: 30px ;
}


/* footer */

.hours{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}

.contact{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}


.icons{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.row_footer{
  --bs-gutter-y:0 !important;
  --bs-gutter-x:0 !important;
}


