<head>
 <link rel="stylesheet" type="text/css" href="css/datatables.min.css">
 <link rel="stylesheet" href="css/all.css">
 <link rel="stylesheet" type="text/css" href="css/style.css">
 

 <script type="text/JavaScript" src="js/jquery_3_3_1.js" ></script>
 <script type="text/javascript" src="js/datatables.min.js"></script>
 <script language="JavaScript" src="js/functions.js"></script>

</head>
<header>
    <div class="titrepage"> 
            TP CRUD
        <p>Armes à feu</p> 
    </div>
</header>

<nav>
</nav>
<aside>
</aside>
<section id="sec1">
    
    <table id = "table_arme"  border="1">
        <div id="modal">
            <div id="content_mod">
                <h1 class="titre_mod">Informations sur l'arme &nbsp; <i class="far fa-window-close" onclick="close_mod()"></i> </h1>
                Nom :         <span id="Nom_mod"></span>
                <br>
                <br>
                Type d'arme : <span id="Type_mod"></span>
                <br>
                <br>
                Calibre :     <span id="Calibre_mod"></span>
                <br>
                <br>
                Date:         <span id="Date_mod"></span>
                <br>
                <br>
                Pays :        <span id="Pays_mod"></span>
                <br>
                <br>
                Portée pratique :    <span id="Portee_mod"></span> mètres
                <br>
                <br>
                Contenance du chargeur d'origine :    <span id="Chargeur_mod"></span> cartouches
                <br>
                <br>
                Cadence:       <span id="Cadence_mod"></span> coups par minute
                <br>
                <br>
                Poids:  <span id="Poids_mod"></span> kg
                <br>
                <br>

                </div>
                </div>
                
                </table>
            </section>
            <section id="sec2">
                    <form method="post" id="form">
                    
                        <div class="nom_form">
                            <h2>Formulaire</h2>
                            <label for="name"> Dénomination de l'arme</label> 
                            <input type="text" name="nom_arme" id="nom_arme" >
                        </div>
                        
                    <div class= "type_form">
                        <label for ="type_arme">Choissisez le type d'arme</label>
                        <select name="type_arme" id="type_arme">
                            <option value="Fusil d assaut"  >&nbsp; Fusil d'assaut &nbsp;&nbsp;</option>
                            <option value="Pistolet" >&nbsp; Pistolet &nbsp;&nbsp;&nbsp;&nbsp;</option>
                            <option value="Mitraillette" >&nbsp; Mitraillette &nbsp;&nbsp;&nbsp;&nbsp;</option>
                            <option value="Fusil à pompe" >&nbsp; Fusil à pompe &nbsp;&nbsp;&nbsp;&nbsp;</option>
                            <option value="Mitrailleuse" >&nbsp; Mitrailleuse &nbsp;&nbsp;&nbsp;&nbsp;</option>
                            <option value="Fusil de précision" >&nbsp; Fusil de précision &nbsp;&nbsp;</option>
                            <option value="Arme spéciale" >&nbsp; Arme spéciale &nbsp;&nbsp;&nbsp;&nbsp;</option>
                        </select>
                    </div>

                        <div class="calibre_form">
                            <select name="calibre_arme" id="calibre_arme" size="8" style="color: rgb(191 16 16);">
                                <option value="9mm">9mm</option>
                                <option value="5.56mm">5.56mm OTAN</option>
                                <option value="7.62mm">7.62mm</option>
                                <option value=".23 special">.23 special</option>
                                <option value="12mm">12mm</option>
                                <option value="45.ACP">45.ACP</option>
                                <option value="5.45*36mm">5,45 × 39mm</option>
                                <option value="Spéciales">Spécifique (exlosifs, fléches)</option> 
                            </select>
                        </div>
                        <div class="date_form">
                            <input type="date" name="date_arme" id="date_arme" value ="">
                        </div>
                        
                        <div class="pays_form">
                            <label for="Pays">Pays d'origine</label><br />
                                <select name="pays_arme" id="pays_arme">
                                    <option  value="selection">Sélectionnez le pays fabriquant</option>
                                    <optgroup label="Europe">
                                        <option value="France">France</option>
                                        <option value="Espagne">Espagne</option>
                                        <option value="Italie">Italie</option>
                                        <option value="Royaume-Uni">Royaume-Uni</option>
                                        <option value="Allemagne">Allemagne</option>
                                        <option value="Autriche">Autriche</option>
                                        <option value="Russie">Russie</option>
                                        <option value="Belgique">Belgique</option>
                                        <option value="Suède">Suède</option>
                                    </optgroup>
                                    <optgroup label="Amérique">
                                        <option value="Canada">Canada</option>
                                        <option value="U.S.A">Etats-Unis</option>
                                        <option value="Argentine">Argentine</option>
                                        <option value="Bresil">Brésil</option>
                                    </optgroup>
                                    <optgroup label="Asie">
                                        <option value="Chine">Chine</option>
                                        <option value="Japon">Japon</option>
                                        <option value="Singapour">Singapour</option>
                                        <option value="Corée du Sud">Corée du Sud</option>
                                        <option value="Israel">Israel</option>
                                    </optgroup>
                                </select>
                        </div>

                        <div class="portee_form">
                            Cochez la portée pour l'arme :
                            <input type="radio" name="portee_arme" id="portee_arme" value="25m" /> <label for="25m">25m</label> &nbsp;&nbsp; 
                            <input type="radio" name="portee_arme" id="portee_arme" value="50m"/>  <label for="50 m">50m </label> &nbsp;&nbsp;
                            <input type="radio" name="portee_arme" id="portee_arme" value="100m"/> <label for="100m">100m</label> &nbsp;&nbsp;
                            <input type="radio" name="portee_arme" id="portee_arme" value="200m"/> <label for="200m">200m</label> &nbsp;&nbsp;
                            <input type="radio" name="portee_arme" id="portee_arme" value="300m"/> <label for="300m">300m</label> &nbsp;&nbsp;
                            <input type="radio" name="portee_arme" id="portee_arme" value="400m"/> <label for="400m">400m</label> &nbsp;&nbsp;
                            <input type="radio" name="portee_arme" id="portee_arme" value="1000m"/> <label for="1000m">1000m</label> &nbsp;&nbsp;
                            <input type="radio" name="portee_arme" id="portee_arme" value="1500m et plus"/> <label for="1500m">1500m et plus</label>&nbsp;&nbsp;

                        </div>
                        <div class="nbrballes_form">
                            <label for="name">Nombre de cartouches par chargeur</label>
                            <input type="range" value="1" min="1" max="200" id="nbr_chargeur_arme" name="nbr_chargeur_arme" oninput="this.nextElementSibling.value = this.value">
                            <input id="chargeur_arme" oninput="this.previousEmentSibling.value = this.value" ></input> &nbsp;cartouches
                        </div>
                            
                        <div class="cadence_form">
                            <label for="name"> Cadence de tir (en coups par minute)</label>
                            <input type="number" name="cadence_arme" id="cadence_arme" min="1" value="cadence_arme" max="3000">
                        </div>
                        <div class="poids_form">
                            <label for="name"> Poids (en kilogramme) </label>
                            <input type="number" name="poids_arme" id="poids_arme" >
                        </div>
                        
                        <div class="button" style="padding-top: 30px;">
                            <button onClick="ajoutArme(); return false" class="btn_action " id="btn_ajouter"  boutonAjouterDisabled()> AJOUTER</button>&nbsp;&nbsp;&nbsp;
                            <button onClick="majArme(); return false" class="btn_action " id="btn_edit"  boutonEditDisabled()> MODIFIER</button>&nbsp;&nbsp;&nbsp;
                            <button onClick="annuler(); return false" class="btn_action" id="btn_annuler"> ANNULER</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </form>
                            
            </section>
            <footer>
            </footer>
            
            </html>










